---
import {
  barMain,
  barLogoWrapper,
  barImageLogo,
  barMenuWrapper,
  barButtonItemsWrapper,
  showOnLarge,
  hiddenOnLarge,
  barButton,
  barButtonExtra,
} from "@/components/ui/nav/nav.css";
import NavButtons from "@/components/ui/nav/nav-buttons.astro";
import NavButtonItems from "@/components/ui/nav/nav-button-items.astro";
---

<div class:list={[barMain]}>
  <div class:list={[barLogoWrapper]}>
    <img
      class:list={[barImageLogo, hiddenOnLarge]}
      src="https://tailwindui.com/img/logos/mark.svg?color=slate&shade=500"
      alt="Your Company"
    />
    <img
      class:list={[barImageLogo, showOnLarge]}
      src="https://tailwindui.com/img/logos/mark.svg?color=red&shade=500"
      alt="Your Company"
    />
  </div>

  <div class:list={[barMenuWrapper]}>
    <NavButtons class:list={[barButtonItemsWrapper]}>
      <NavButtonItems class:list={[barButton, barButtonExtra]} />
    </NavButtons>
  </div>
</div>
