---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import ThemeToggle from "@/components/ui/theme-toggle.astro";
---

<BaseLayout description="Vanilla Extract Example" title="Home Page">
  <PageLayout title="Welcome to the home page">
    <p><ThemeToggle /></p>
  </PageLayout>
</BaseLayout>
