---
import "@/styles/fonts.css";
import "@/styles/preflight.css";
import "@/styles/global.css";
import { lightThemeClass } from "@/styles/themes.css";
import { container } from "@/layouts/BaseLayout.css";

export interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props as Props;
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <body class:list={[lightThemeClass, container]}>
    <slot />
  </body>
</html>
